

    @{
        ViewBag.Title = "Product Page";
    }


<div class="jumbotron">
    <h1> Great Products Today!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Great Products Today! </h2>
        <p>
          We are a wholesale online store that delivers great prices!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get started today!</h2>
        <p>Please press the button below to begin browsing</p>
        <p><a class="btn btn-default" href="#"> Store &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>This button will allow you to order your selections!</h2>
        <p>Please press the button below to order your items</p>
        <p><a class="btn btn-default" href="#">Order &raquo;</a></p>
    </div>
</div>
